.preview-item {
    width: 25vw;
    display: block;
    margin: auto;
}

.logo {
    width: 10vw;
}

.custom-nav {
    background-color: white;
}

.col {
    background-color: white;
}

.btn btn-primary {
    background-color: #03857E;
    outline: none;
    font-weight: normal;
}
.btn btn-primary:hover{
    background-color: #02534f;
}
button.btn-color {
    /* Only used for JS selection */
}

button.btn_white {
    background-color: ghostwhite;
    height: 2vw;
    width: 2vw;
    border: solid darkgrey 1px;
    border-radius: 50%;
}

button.btn_white:hover {
    background-color: #F0F0F0;
}

button.btn_black {
    background-color: #2B2B2B;
    height: 2vw;
    width: 2vw;
    border: 0;
    border-radius: 50%;
}

button.btn_black:hover {
    background-color: #453737;
}

button.btn_red {
    background-color: #7B2C2C;
    height: 2vw;
    width: 2vw;
    border: 0;
    border-radius: 50%;
}

button.btn_red:hover {
    background-color: #955353;
}

button.btn_blue {
    background-color: #365670;
    height: 2vw;
    width: 2vw;
    border: 0;
    border-radius: 50%;
}

button.btn_blue:hover {
    background-color: #5e768a;
}

.navbar a:hover {
    color: #03857E;
    font-weight: bold;
}

button.btn_green {
    background-color: #606A3C;
    height: 2vw;
    width: 2vw;
    border: 0;
    border-radius: 50%;
}

.button.btn-outline-success {
    float: right;
}

button.btn_green:hover {
    background-color: #728430;
}

.button.btn btn-primary {
    background-color: #03857E;
}

.carousel-indicators {
    position: absolute;
    border: 0;
}

.carousel-indicators .active {
    background-color: #ECECEC;
}

.carousel-indicators.button {
    width: 5vw;
}

.preview-column {
    background-color: #EEEEEE;
}

/* align label of Switch left -> doesn't work */
.form-check-label {
    text-align: left !important;
}

.control-panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #5d5e61;
}

.control-panel-inner {
    min-width: 20vw;
    flex-direction: row;
    border: 1px solid rgb(105, 105, 105);
    border-radius: 1vw;
    margin: 1vw;
    padding: 1vw;
    background-color: white;
}

.control-column {
    background-color: #5d5e61;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* ---------------------------------Modal design -------------------------*/
#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: white;
    display: flex;
    border-right: 20vw;
}

@media (max-width: 600px) {
    #modal-content {
        width: 100%;
        height: 100%;
        border-radius: 2vw;
    }
}

#modal-left {
    height: 100%;
    width: 40%;
}

#modal-left img {
    height: 100%;
    width: 100%;
}

#modal-right {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#modal-tabs {
    display: flex;
    border-bottom: 1px solid gray;
}

.modal-tab {
    flex: 1;
    border: none;
    background-color: white;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s;
}

.modal-tab.active {
    background-color: #444547;
    color: white;
}

.modal-tab-content {
    flex: 1;
    display: none;
    padding: 20px;
}

.modal-tab-content.active {
    display: block;
}

#close-modal-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    color: gray;
    transition: color 0.3s;
}

#close-modal-button:hover {
    color: black;
}

.image-email-icon {
    width: 2vw;
    height: 2vw;
}

.email-icon,
.password-icon {
    width: 2vw;
    height: 2vw;
}

#create-account-button {
    background-color: #03857E;
    border: 0;
    color: white;
    width: 7vw;
    height: 2vw;
    border-radius: 0.25vw;
}

#ok {
    background-color: #03857E;
    border: 0;
    color: white;
    width: 5vw;
    height: 3vw;
}

.contact-icons {
    height: 35px;
    width: 35px;
}

.address-container, .phone-container, .email-container {
    display: flex;
    align-items: center;
}
.input-group-text {
    margin: 10px;
}


/* ------------------------------ Contact form-------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contact {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #EEEEEE;
    background-size: cover;
}

.Contact .Contactus {
    text-align: center;
}

.Contact .Contactus h2 {
    font-size: 36vw;
    font-weight: 500;
}

.Icon img {
    height: 50px;
    width: 50px;
}

.Contact .Contactus p {
    font-weight: 500;
    color: black;
}

/* Everything around box */
.Container {
    width: 100%;
    align-items: center;
}

.Container .ContactInfo {
    width: 50vw;
    display: flex;
    flex-direction: column;
}

.Container .ContactInfo .Box {
    position: relative;
    padding: 20px;
    display: flex;
}

.Container .ContactInfo .Box .Icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 22px;
}

.Container .ContactInfo .Box .Text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: black;
    flex-direction: column;
    font-weight: 300;
}

.Container .ContactInfo .Box .Text h3 {
    font-weight: 500;
    color: #00bcd4;
}

.Form {
    position: absolute;
    top: 550px;
    left: 900px;
    transform: translate(-50%, -50%);
    max-width: 550px;
    width: 100%;
    background: #fff;
    padding: 25px;
    border-radius: 5px;
}

.Form h2 {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: black;
    font-size: 35px;

}

.ContactInfo.Box h3 {
    color: black;
}

.Form .input_field {
    margin-bottom: 10px;
    border-radius: 0.5vw;
}

.Form .input_field input[type="text"],
.Form textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
    border-radius: 0.5vw;
}

.Form textarea {
    resize: none;
    height: 80px;
    border-radius: 0.5vw;
}

.Form .btn input[type="submit"] {
    border: 0px;
    margin-top: 15px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: #03857E;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.btn {
    color: white;
    background-color: #03857E;
    border-radius: 2px;
    border: 0;
}

.move-up {
    margin-top: -50px;
}